{% extends "base.html" %}

{% block content %}
<h2>작품 등록 페이지</h2>

<div class="container my-3">
    <form method="post" action="{% url 'gallery:artwork-create' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="title">제목</label>
            <input type="text" class="form-control" name="title", id='title'
                value="{{ form.title.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="price">가격</label>
            <input type="text" class="form-control" name="price", id='price'
                value="{{ form.price.value|default_if_none:'' }}">        
        </div>
        <div class="mb-3">
            <label for="size">호수</label>
            <input type="text" class="form-control" name="size" id="size"
                value="{{ form.size.value|default_if_none:'' }}">
        </div>

        <button type="submit" class="btn btn-primary">등록</button>
    </form>
</div>

{% endblock %}