{% extends 'base.html' %}

{% block content %}
{% if artworks %}
<table class="table table-hover text-center mt-5">
    <thead class="thead">
        <tr>
            <th>제목</th>
            <th>작가</th>
            <th>가격</th>
            <th>호수</th>
            <th>등록일</th>
        </tr>
    </thead>
    <tbody>
        {% for artwork in artworks %}
        <tr>
            <td>{{ artwork.title }}</td>
            <td>{{ artwork.artist }}</td>
            <td>{{ artwork.price }}</td>
            <td>{{ artwork.size }}</td>
            <td>{{ artwork.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>작성된 게시글이 없습니다.</p>
{% endif %}
{% endblock  %}