{% extends 'base.html' %}

{% block content %}

{% if applyments %}
<div class="container mt-5">
    <form method="post" action="{% url 'management:apply' %}">
        {% csrf_token %}
        {% include "approve_reject_errors.html" %}
        <table class="table table-hover text-center">
            <thead class="thead">
                <tr>
                    <th>이름</th>
                    <th>성별</th>
                    <th>생년월일</th>
                    <th>이메일</th>
                    <th>연락처</th>
                    <th>신청 일시</th>
                    <th>승인</th>
                    <th>반려</th>
                </tr>
            </thead>
            <tbody>
                {% for applyment in applyments %}
                <tr>
                    <td>{{ applyment.name }}</td>
                    {% if applyment.gender == 'm' %}
                    <td>남자</td>
                    {% else %}
                    <td>여자</td>
                    {% endif %}
                    <td>{{ applyment.birth_date }}</td>
                    <td>{{ applyment.email }}</td>
                    <td>{{ applyment.phone }}</td>
                    <td>{{ applyment.created_at }}</td>
                    {% if applyment.is_approved %}
                    <td><input type="checkbox" checked disabled></td>
                    <td><input type="checkbox" disabled></td>
                    {% elif applyment.is_rejected %}
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" checked disabled></td>
                    {% else %}
                    <td><input type="checkbox" name="approve" value="{{ applyment.pk }}"></td>
                    <td><input type="checkbox" name="reject" value="{{ applyment.pk }}"></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-outline-secondary">적용</button>
        <a href="{% url "management:apply-download" %}" type="submit" class="btn btn-outline-secondary">다운로드</a>
    </form>
</div>
{% else %}
<p class="mt-5">작가 등록 신청 내역이 없습니다.</p>
{% endif %}
<form class="d-flex mt-5" role="search" action="{% url "management:apply-search" %}">
    <select class="form-select" name="search-option" id="search-option">
        <option value="name">이름</option>
        <option value="gender">성별</option>
        <option value="birth_date">생년월일</option>
        <option value="email">이메일</option>
        <option value="phone">연락처</option>
    </select>
    <input class="form-control" type="search" placeholder="검색 키워드를 입력하세요" name="search-keyword" id="search-keyword">
    <input type="submit" value="검색" class="btn btn-outline-success">
</form>

<script>
    const searchOptionEl = document.getElementById('search-option');
    const searchKeywordEl = document.getElementById('search-keyword');
    searchOptionEl.addEventListener('change', function() {
        const searchOptionValue = searchOptionEl.options[searchOptionEl.selectedIndex].value;
        if (searchOptionValue=="gender"){
            searchKeywordEl.setAttribute('placeholder', 'm(남자) 또는 f(여자)');
        } else if (searchOptionValue=="birth_date") {
            searchKeywordEl.setAttribute('placeholder', 'YYYY-MM-DD');
        } else if (searchOptionValue=="phone") {
            searchKeywordEl.setAttribute('placeholder', '000-0000-0000');
        } else{
            searchKeywordEl.setAttribute('placeholder', '검색 키워드를 입력하세요');
        };
    });
</script>
{% endblock %}