{% extends 'base.html' %}
{% block content %}
<table class="table table-hover text-center mt-5">
  <thead class="thead">
    <tr>
      <th>이름</th>
      <th>작품수</th>
      <th>작품수 (100호 이하)</th>
      <th>작품 평균 가격</th>
      <th>작품 최대 호수</th>
      <th>마지막 접속</th>
    </tr>
  </thead>
  <tbody>
    {% if artists %}
    {% for artist in artists %}
    <tr>
      <td>{{ artist.name }}</td>
      <td>{{ artist.artwork_count }}</td>
      <td>{{ artist.artwork_count_lte_size_100 }}</td>
      <td>{{ artist.artwork_avg_price | default_if_none:"-" }}</td>
      <td>{{ artist.artwork_max | default_if_none:"-" }}</td>
      <td>{{ artist.user.last_login | date:"y.m.d H:i:s" }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td colspan="8">출력할 작가 정보가 없습니다.</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}
